Repository jake-pauls/babble, pull requests merged in 2021-06, with the labels that each got.

#5 Created base Vue app, ready for Vercel deployment
  .gitignore
  frontend/.gitignore
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/components/Landing.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Rooms.vue
Labels: enhancement

#8 Added tailwindcss to the Vue app
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/src/main.js
  frontend/tailwind.config.js
Labels: enhancement, frontend

#19 Heroku docker deployment
  .dockerignore
  .github/workflows/backend-deploy.yml
  .gitignore
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  frontend/src/utils/peerUtils.js
Labels: devops, needs-review

#21 Firepad integration and synchronous text editing between host/peer
  .dockerignore
  .github/workflows/backend-deploy.yml
  CONTRIBUTING.md
  Dockerfile
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/main.js
  frontend/src/utils/peerUtils.js
Labels: frontend, needs-review

#26 Hotfix for small syntactical error in GitHub Action
  .github/workflows/vue-tests.yml
Labels: devops

#25 Peer server hotfix (fixes production, merge first)
  frontend/src/utils/env.js
  frontend/src/utils/peerUtils.js
Labels: frontend

#27 Added babel-jest as a dev dependency to hotfix GitHub action
  frontend/package-lock.json
  frontend/package.json
Labels: devops

#29 Fixed audio feedback bug and added pre text before a code is generated
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/Video.vue
  frontend/src/views/Room.vue
Labels: bug, enhancement, frontend, needs-review

#31 Change Home.vue page subtitle
  frontend/src/views/Home.vue
Labels: frontend, needs-review

#30 Websockets basic implementation
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/utils/socketUtils.js
  frontend/src/views/Room.vue
  frontend/src/views/Start.vue
  frontend/tailwind.config.js
  frontend/vue.config.js
Labels: backend, design, enhancement, frontend, needs-review
